@model AttAssApplication.Model.Session

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
